html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error {
    color: #dc3545;
}

.input-validation-error {
    border-color: #dc3545;
    background-color: #ffe6e6;
}